<!-- -->
<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Juan Valdez - ADMIN</title>
		<link  type="text/css" rel="stylesheet" href="../../static/coffeeshop/styles.css">
		<link  type="text/css" rel="stylesheet" href="../../static/coffeeshop/admin-registrar_venta.css">
	</head>

	<body>
		<div class="butPrinci">
			<ul>
				<li><a class="estoy" href="#">Registrar compra</a></li>
				<li><a href="./admin-revisar_producto.html">Revisar productos</a></li>
				<li><a href="./admin-anadir_producto.html">Añadír productos</a></li>
				<li><a href="./admin-revisar_ventas.html">Revisar producto</a></li>
			</ul>
		</div>

		<div class="areaTrabajo">
			
			<div class="anadriProducto">
				<button>Añadír</button>
			</div>

			<div class="infoCliente">
				
			</div>

			<div class="tabla">
				
			</div>
			
			<div class="infoFactura">
				
			</div>

		</div>
		
		<img class="imagenes1" src="../img/juanvaldez.png">
		<img class="imagenes2" src="../img/EafitNormal.png">
		
	</body>
</html>